body{
    background-color: rgba(9, 50, 163, 0.637);
    color: rgb(72, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 500px;
    height: 300px;
}

h1{
    color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}